/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Заголовок */
header {
    background-color: #007BFF;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

/* Герой-блок */
.hero {
    background-image: url('../static/assets/hero-background.jpg');
    background-size: cover;
    padding: 60px 0;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

/* Контейнер */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Карточки товаров */
.product-card {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100px;
    height: 100px;
}

.product-card h2 {
    font-size: 1.5rem;
}

/* Стили для кнопок */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Подвал */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007BFF;
    color: white;
}